Package: xyz.skitty.morecomplications
Name: MoreComplications
Version: 1.0
Architecture: iphoneos-arm
Description: Add more complications to your Lock Screen.
Maintainer: Skitty
Author: Skitty
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 16.0), preferenceloader
Icon: https://skitty.xyz/repo/icons/xyz.skitty.morecomplications.png
Depiction: https://skitty.xyz/repo/depictions/xyz.skitty.morecomplications/
SileoDepiction: https://skitty.xyz/repo/depictions/xyz.skitty.morecomplications/sileo.json
